<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
  <!---->

  <main class="container">
    <div class = "row">
      <div class="div.col-md-offset-3.col-md-6">
        <h1><%= title %></h1>
        <br>
        <table class="table table-bordered table-striped table-hover">
          <!--Header Row-->
          <tr>
            <th class="text-center">Test</th>
            <th class="text-center">Name</th>
            <th class="text-center">Age</th>
          </tr>

          <!--Repeatable Template-->

          <% items.forEach(item => { %>
            <tr>
              <td class="text-center"><%= item.test %></td> 
              <td class="text-center"><%= item.age %></td> 
              <td class="text-center"><%= item.name %></td> 
            </tr>     
            <% }); %>


        </table>
      </div>
    </div> 
  </main>

  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>

