<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
 
  <!--Main-->
  <main class ="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      
    </div>
    <div id="header">
      <div class="container">
          <div class="header-text">
              <h1>Welcome, <br>I'm <span>David Sims</span></h1>
              <p>Co-op Student</p>
              <p>Browse Using the Navigation bar at the top</p>
          </div>
      </div>
  </div>
  </main>

  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>

