<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
 
  <!--Main-->
  <main class ="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="portfolio-list">
                <div>
                    <i class="fa-solid fa-computer"></i>
                    <h2>Front-End</h2>
                    <p>My skills are primarily in Front-End development through the usage of client side scripting to create websites. Some of the languages I use include: JavaScript,
                        HTML, CSS, and EJS. I have also gained experience with bootstrap, NodeJS, ExpressJS, and jQuery. 
                    </p>
                </div>
                <div>
                    <i class="fa-solid fa-database"></i>
                    <h2>Database</h2>
                    <p>Working with databases I primarily work in SQL, and PL/SQL to create and perform DML operations on database queries. </p>
                </div>
            </div>
        </div>
  </main>

  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>

